<div id = "ntimer_form" class = "mytimer">
  <span class="box-dec-min"> <%= @timetest/10 %> </span>
  <span class="box-min"> <%= @timetest - 10 * @timetest/10 %> </span>
  <span class="div-min"> : </span>
  <span class="box-dec-sec"> 0 </span>
  <span class="box-sec" > 0 </span>
</div>